
.sidebar {
  width: 120px;
  background: linear-gradient(135deg, #ebb9c1, #1e161e);
  height: 100vh;
  padding: 10px 0;
  border-right: 2px solid #420606;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  width: 100%;
  /* background-color: red; */
}

.nav-links li {
  margin: 25px 0;
}

.nav-links a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.nav-links a:hover {
  /* color: #007bff; */
  /* background-color: #E7DCE2; */
  background-color: #a9c3b6;
}
